*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family:sans-serif;
    
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
body{
    cursor:crosshair;
}
#toolbar{
    width: 100%;
    height: 100px;
    padding: 10px;
    position: fixed;
    top: 0;
    /* background-color:black; */
    color:yellow;
}

.radcontrol{
    width: 30px;
    height: 30px;
    /* background-color: tan; */
    display: inline-block;
    text-align: center;
    padding:8px;
}

#rad{
    float: left;
    margin-top:8px;;
}
/* .Mode{
    float: left;
    margin-top:8px;;
    color: yellow;
} */
#colors{
    float:right;
    margin-right:600px;
    padding-top:4px;
    cursor: pointer;
}

.swatch{
    width:30px;
    height:30px;
    border-radius: 15px;
    box-shadow: inset 0px, 1px, 0px, rgba(173, 13, 13, 0.5), 0px, 2px, 2px, rgba(0,0,0,0.5);
    display: inline-block;
    margin-left: 10px;
    background-color: cyan;
}

.swatch.active{
    border:2px solid white;
    box-shadow: inset 0px 1px 2px rgba()
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: white;
}
.button:hover{
    background-color:aqua;
}

#eraser{
    float:left;
    margin-left:8px;
    width:40px;
    height:40px;
    padding:auto;
}

#pen{
    float:left;
    margin-left:5px;
    width:40px;
    height:40px;
    padding:auto;
}
#clean{
    float:left;
    margin-left:5px;
    width:40px;
    height:40px;
    padding:auto;
}
#rect{
    float:left;
    margin-left:5px;
    width:40px;
    height:40px;
    padding:auto;
}
#selector_rect{
    float: left;
    margin-top: 10px;
    margin-left:5px;
}
#circle{
    float:left;
    margin-left:5px;
    width:50px;
    height:40px;
    padding:auto;
}
#selector_circle{
    float: left;
    margin-top: 10px;
    margin-left:5px;
}
#word{
    float:left;
    margin-top:8px;
}

#fontdownload{
    float:right;
    color: violet;
    margin-top:-30px;
    margin-right:290px;
    border:5px solid;
    width:100px;
    font-size:20px;
}
#fontdownload:hover{
    color: aqua;
}
body {
    margin-left: 200px;
    background-image: url(Korea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
} 

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-top:100px;
    /* margin-left: auto; */
    margin-left:400px;
    margin-right: auto;
    display: block;
}